* {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	resize: both;
}
body {
	padding: 0px;
	text-align: center;
	background-color: #fff3f3;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 30px solid black; 

}

.background-image {
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSH6se-7RJ3WBCgjzHaQ5m1uaOFF6NMt4n9lg&usqp=CAU');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.image-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.image-card {
	width: 500px;
	border: 1px solid black;
	border-radius: 4px;
	text-align: left;
	background-color: rgba(228, 226, 108, 0.468);
	resize: both;

}

.image {
	width: 498px;
	height: 350px;
	border: 1px solid black;
}

.title {
	text-align: center;
	padding: 10px 10px;
	font-size: 3rem;
	font-weight: 600;
	color: #000000dd;
}
.likes-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.likes {
	font-size: 1.5rem;
	font-weight: 600;
}

.like-button {
	color: rgb(255, 127, 80);
	font-size: 1.5rem;
	border: none;
	background: none;
	transition: color 300ms;
	cursor: pointer;
}

.slides {
	width: 500%;
	height: 500px;
	display: flex;
}

.slider {
	height: 300px;
	width: 500px;
	border-radius: 10px;
	overflow: hidden;

}

.slides input {
	display: none;
}

.slide {
	width: 500px;
	transition: 2s;

}

.slide img {
	width: 500px;
	height: 300px;
}

/* css for manual slide navigation */
.manual-navigation {
	position: absolute;
	width: 500px;
	margin-top: -220px;
	display: flex;
	justify-content: center;
}

.manual-btn {
	border: 2px solid black;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;

}


.manual-btn:not(:last-child) {
	margin-right: 5px;

}

.manual-btn:hover {
	background: #000000dd;

}

#radio1:checked~.first {
	margin-left: 0;
}

#radio2:checked~.first {
	margin-left: -20%;
}

#radio3:checked~.first {
	margin-left: -40%;
}

#radio4:checked~.first {
	margin-left: -60%;
}

#radio5:checked~.first {
	margin-left: -80%;
}

/* css for automatic navigation */
.navigation-auto {
	position: absolute;
	width: 500px;
	margin-top: 20px;
	display: flex;
	justify-content: center;

}

/* .navigation-auto div {
	border: 2px solid black;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;

} */

.navigation-auto:not(:last-child) {
	margin-right: 20px;
}

#radio1:checked~.navigation-auto .auto1 {
	background: black;
}

#radio2:checked~.navigation-auto .auto2 {
	background: black;
}

#radio3:checked~.navigation-auto .auto3 {
	background: black;
}

#radio4:checked~.navigation-auto .auto4 {
	background: black;
}

#radio5:checked~.navigation-auto .auto5 {
	background: black;
}

.like-button:hover {
	color: rgb(182, 211, 36);
}

.like-button:active {
	color: rgb(0, 0, 0);
}

.like-button:focus {
	outline: none;
}

.list-group {
	margin-left: 0;
	padding-left: 10px;
	font-size: 1.5rem;
}

.Fact-list {
	margin: 2px 0;
	letter-spacing: 0.2px;
	font-size: large;
	min-width: 100%;
}

.comment-form {
	width: 100%;
	border-top: 1px solid #83171720;
	padding: 10px;
	margin-top: 10px;
	font-size: large;
}

.comment-input {
	width: 80%;
	border: #000000dd;
	font-size: 1.5rem;
	padding: 5px;
	border-color: #0e0b0bdd;
}

.comment-input:focus {
	outline: none;
}

.submit-button {
	border: none;
	font-size: 1.5rem;
	font-weight: 600;
	color: rgb(0, 0, 0);
	transition: color 300ms;
}

.submit-button:hover {
	color: rgb(37, 68, 245);
}

.submit-button:active {
	color: rgb(127, 146, 250);
}

.submit-button:focus {
	outline: none;
}

@media (max-midth: 320px){
	.image-card{
		width: 100px;
	}
}